# -*- coding: utf-8 -*-
# Copyright 2021, Antonio Alvarado Hernández

bin/                    # exclude all files from given directory
var/

*.exe                   # avoid to commit binary files
*.dll
*.pyo
*.pyc
*.chm
*.dat

*~                      # avoid to commit vim backup & swap files
*swp

# EOF
