# -*- coding: utf-8 -*-
# Copyright 2021, Antonio Alvarado Hernández


                        # exclude all files from given directory
bin/**
var/**

                        # (re)include valid files excluded above
!bin/*.c
!bin/*.go
!bin/*.zig
!bin/*.bash
!bin/*.fish
!bin/*.ksh
!bin/*.sh
!bin/*.zsh
!bin/*.elv
!bin/*.nu
!bin/*.js
!bin/*.ts
!bin/*.py
!bin/*.pyw
!bin/*.ps1
!bin/*.cmd
!bin/*.ini
!bin/*.vbs

                        # avoid to commit binary files
*.so
*.so.*
*.exe
*.dll
*.pyo
*.pyc
*.chm
*.dat

                        # avoid to commit vim backup & swap files
*~
*swp
.netrwhist

# EOF
